[[source]]
url = "https://mirrors.ustc.edu.cn/pypi/web/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
pandas = "*"
seaborn = "*"
sklearn = "*"
matplotlib = "*"
scikit-learn = "*"
tensorflow = "*"
numpy = "*"

[dev-packages]
"autopep8" = "*"
pylint = "*"
ipython = "*"
jupyter = "*"
notebook = "*"

[requires]
python_version = "3.6"
